<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static\css\Stylesheet1.css">
    </head>
    <title> A1 Luxury Homes</title>
    <body>
        <h1>                A1 Luxury Homes                </h1>
        
           
        
        
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/2">Listings</a></li>
            <li><a href="http://127.0.0.1:5000/7">Contact</a></li>
            <li><a href="http://127.0.0.1:5000/3">About</a></li>
          </ul>
          <p>$2,900,000</p>
          <a href="http://127.0.0.1:5000/7"><button style=" margin-left: 1550px; ">Contact Agent</button> </a>
          <img style=display:block;margin-left:auto;margin-right:auto;width:75%;  src="../static\images\3house1.webp" alt="h1">   
          <p> DESCRIPTION <br> ..6bd | 11ba | 15,291sqft.. <br>
            Beautiful custom estate on 4.4 acres in the gated Valley Falls Estates neighborhood.<br>
            Soaring ceilings and a exquisite dual stair case greet you as you enter the home.<br>
                          Custom wood work, archways & chandeliers throughout.</p>   
                          <iframe style="margin-left: 35%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.5122893855564!2d-92.461173784466!3d34.79305128577361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d2a080730042e3%3A0xb1b2a5cc48eed095!2s10%20Valley%20Crest%20Ct%2C%20Little%20Rock%2C%20AR%2072223!5e0!3m2!1sen!2sus!4v1669816005839!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </body>



    
</html>