<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static\css\Stylesheet1.css">
    </head>
    <title> A1 Luxury Homes</title>
    <body>
        <h1>                A1 Luxury Homes                </h1>
        
           
        
        
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/2">Listings</a></li>
            <li><a href="http://127.0.0.1:5000/7">Contact</a></li>
            <li><a href="http://127.0.0.1:5000/3">About</a></li>
          </ul>
          <p>$1,790,000</p> 
          <a href="http://127.0.0.1:5000/7"><button style=" margin-left: 1545px; ">Contact Agent</button> </a>
          <img style=display:block;margin-left:auto;margin-right:auto;width:75%;  src="../static\images\house1p.png" alt="h1">   
          <p> DESCRIPTION <br> ..10bd | 10ba | 9,194sqft.. <br>
            Great home for the ultimate in family living and entertainment!<br>
              Wonderful river views and impeccable quality const offers unsurpassed atmosphere.<br>
               Stunning living room with grand staircase and wall of windows
             .</p>   
             <iframe style="margin-left: 35%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.697916290633!2d-92.4396676844661!3d34.788379386024445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d2a0f38816448d%3A0x22525456b9bb6175!2s142%20Hickory%20Creek%20Cir%2C%20Little%20Rock%2C%20AR%2072212!5e0!3m2!1sen!2sus!4v1669729469832!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </body>



    
</html>