<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static\css\Stylesheet1.css">
    </head>
    <title> A1 Luxury Homes</title>
    <body>
        <h1>                A1 Luxury Homes                </h1>
        
        <h2>Mission Statement</h2>
        <p>Our mission is to ensure the top 1% to have the best houses on the makret possible, we offer prices starting at 1 million. <br> Our agents will make sure to find a house that fits your wealth and needs, while still being the best houses in the neighborhood. <br> looking for a house for the family and wanting to show off your wealth at the same time, then we offer houses with 3 or more bedrooms.<br> we been serving the rich for generations in our family owned business and will contiue to offer the best homes for the rich for years to come.</p>
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/2">Listings</a></li>
            <li><a href="http://127.0.0.1:5000/7">Contact</a></li>
            <li><a href="http://127.0.0.1:5000/3">About</a></li>
          </ul>
          
        
    </body>



    
</html>