<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static\css\Stylesheet1.css">
    </head>
    <title> A1 Luxury Homes</title>
    <body>
        <h1>                A1 Luxury Homes                </h1>
        
           
        
        
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/2">Listings</a></li>
            <li><a href="http://127.0.0.1:5000/7">Contact</a></li>
            <li><a href="http://127.0.0.1:5000/3">About</a></li>
          </ul>
      
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    
    
    
<form action="/action_page.php">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value=""><br><br>
   
  </form>


  <form action="http://127.0.0.1:5000/7">
    <label for="fname">Email:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="lname">Message:</label><br>
    <input type="text" id="lname" name="lname" value=""><br><br>
    <a href="http://127.0.0.1:5000/7"><button>Submit</button> </a>
  </form> 

        
    </body>



    
</html>