<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static\css\Stylesheet1.css">
    </head>
    <title> A1 Luxury Homes</title>
    <body>
        <h1>                A1 Luxury Homes                </h1>
        
           
        
        
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/2">Listings</a></li>
            <li><a href="http://127.0.0.1:5000/7">Contact</a></li>
            <li><a href="http://127.0.0.1:5000/3">About</a></li>
          </ul>
          <p>$2,850,000</p>
          <a href="http://127.0.0.1:5000/7"><button style=" margin-left: 1550px; ">Contact Agent</button> </a>
          <img style=display:block;margin-left:auto;margin-right:auto;width:75%;  src="../static\images\rhouse1.webp" alt="h1">   
          <p> DESCRIPTION <br> ..10bd | 10ba | 9,194sqft.. <br>
             Spectacular home for the ultimate in family living and entertaining!<br>
              Breathtaking river views and impeccable quality const offers unsurpassed atmosphere.<br>
               Stunning living rm with two story ceiling and wall of windows.</p>   
               <iframe style="margin-left: 35%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1638.264642921973!2d-92.3794500223971!3d34.792623537883564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d2a3d4fbf62fc9%3A0x2e953b0f6af7b003!2s54%20River%20Ridge%20Rd%2C%20Little%20Rock%2C%20AR%2072227!5e0!3m2!1sen!2sus!4v1669728932701!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </body>



    
</html>